<head>
<style>
#customers
{
font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#customers td, #customers th 
{
font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#customers th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#customers tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}
</style>
</head>
<body>

<table id=customers>
<tr>
  <th>Movies</th>
  <th>IMDB Ratings</th> 
</tr>
<tr class=alt>
<td><a href="/home/rifatul.islam/IdeaProjects/movie_imdb/12 Angry Men [1957]/">12 Angry Men [1957]/</a></td>
<td>
8.9/10
</td>
</tr>
<tr class=alt>
<td><a href="/home/rifatul.islam/IdeaProjects/movie_imdb/12 Years A Slave (2013) 1080p x264 DD5.1 EN NL Subs [Asian Torrenz]/">12 Years A Slave (2013) 1080p x264 DD5.1 EN NL Subs [Asian Torrenz]/</a></td>
<td>
8.3/10
</td>
</tr>
<tr class=alt>
<td><a href="/home/rifatul.islam/IdeaProjects/movie_imdb/21 Grams/">21 Grams/</a></td>
<td>
7.8/10
</td>
</tr>
<tr class=alt>
<td><a href="/home/rifatul.islam/IdeaProjects/movie_imdb/A Beautiful Mind[2001] 1080p BRRip x264 YIFY/">A Beautiful Mind[2001] 1080p BRRip x264 YIFY/</a></td>
<td>
8.2/10
</td>
</tr>
<tr class=alt>
