body {
    color: dodgerblue;
    margin-top: 5em;
    text-align: center;
}

#equal_button {
    padding: 5px;
    height: 50px;
    width: 145px;
    font-size: 1.2em;
}

input.button {
    padding: 5px;
    height: 50px;
    width: 70px;
    font-size: 1.2em;

}

input.display {
    padding: 6px;
    height: 50px;
    width: 428px;
    text-align: right;
    font-size: 3em;
}

#calculator{
    background: dimgrey;
    padding: 2px;
    width: 448px;
    margin-left: 25em;
    border-radius: 0.5em;

}
